.root {
    -fx-font-family: "Plus Jakarta Sans";
    -fx-background-color: #f0f0f0;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #45a049;
}

.title {
    -fx-font-size: 36px;
    -fx-text-fill: #333;
    -fx-padding: 20px;
}